body {
    font-family: Arial;
    background: #eef2f3;
}

.container {
    width: 600px;
    margin: 50px auto;
    background: white;
    padding: 25px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
}